$color-primary: #e23e57;

$color-secondary: #88304e;
$color-secondary-dark-1: #522546;
$color-secondary-dark-2: #311d3f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;