.container {
    display: flex;
}

.left-half {
    background-color: $color-secondary;
    flex: 1;
    height: auto;
    
}

.right-half {
    background-color: $color-primary;
    flex: 1;
    flex-grow: 4;
}
